.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: black;
    margin-top: auto;
}

.footer-content {
    color: beige;
}